# NEXT_PUBLIC_WP_GRAPHQL=https://api.gqmobiles.lk/graphql
#NEXT_PUBLIC_WP_GRAPHQL=http://52.45.14.64/graphql
NEXT_PUBLIC_WP_GRAPHQL=http://next-backend.local/graphql
NEXT_PUBLIC_TYPESENSE_HOST=apix.gqmobiles.lk
NEXT_PUBLIC_TYPESENSE_PORT=443
NEXT_PUBLIC_TYPESENSE_PATH=/q-search
NEXT_PUBLIC_TYPESENSE_PROTOCOL=https
# sandbox key
PAYHERE_MERCHANT_KEY=MTc2MTg0ODIyMTMwNTM4NTM0MDgzODI2MTg1MDQ2NDE5MjA1MTI0MA==
# Thariq naana one             
GQ_PAYHERE_MERCHANT_SECRET_KEY=MjI3MjIwOTE4NTQwODI0MzY0NzEzMjUxMjM5NzY5MTg5NDA0OTQzOQ==
NEXT_PUBLIC_DOMAIN=http://localhost:3000
NEXT_PUBLIC_PAYHERE_IS_LIVE=true

# Trariq nanaa merchant id // while testing use 1225436
NEXT_PUBLIC_MERCHANT_ID=215650